<%= form_for [@wiki, section] do |f| %>
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, class: 'form-control', maxlength: 25, placeholder: "Enter Section Name" %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br />
    <%= f.text_area :body, class: 'form-control', placeholder: "Add information" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
    <%= link_to "Delete", [@wiki, section], method: :delete, class: 'btn btn-danger', data:{confirm: "Are you sure? The section will be permanently deleted."} %>
  </div>
<% end %>
