<div class='col-md-8'>
  <h1>Edit Wiki</h1>
  <%= form_for @wiki do |f| %>
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, class: 'form-control', maxlength:25, placeholder: "Edit Wiki Name" %>
    </div>
    <div class="form-group">
      <%= f.label :body %><br />
      <%= f.text_area :body, autofocus: true, class: 'form-control', placeholder: "Edit Wiki Description" %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
    <% if current_user.admin? || current_user.premium? %>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' %>
        <%= f.check_box :private %> Private wiki?
      </div>
    <% end %>
  <% end %>
  <h1>Edit Sections</h1>
  <% @sections.each do |section| %>
    <p class="section-title"><h4><%= markdown_to_html section.title %><%= link_to "Edit", edit_section_path %></h4></p>

    <%# render partial: 'sections/form', locals: {section: section} %>
  <% end %>

</div>
<div class='col-md-4'>
  <h1>Collaborators</h1>
  <%= render partial: 'collaborators/form' %>
  <% @wiki.collaborators.each do |collaborator| %>
    <p><%= collaborator.user.name %>, &nbsp;<%= collaborator.user.email %></p>
    <%= link_to "Delete", [@wiki, collaborator], method: :delete, class: 'btn btn-danger', data:{confirm: "Are you sure? This collaborator will be removed from the wiki.  Then again, if they behave, you can invite them back later!"} %>
  <% end %>
<div>
