<div class="row">
  <ul class="nav nav-pills">
    <% if policy(@wiki).edit? %>
      <%= link_to "Add Section", new_wiki_section_path(@wiki, @section), class: 'btn btn-sm btn-primary'%>
      <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-sm btn-primary' %>
    <% end %>
    <% if policy(@wiki).destroy? %>
      <%= link_to "Delete Wiki", @wiki, method: :delete, remote: true, class: 'btn btn-sm btn-danger', data:{confirm: "Are you sure? The wiki will be permanently deleted."} %>
    <% end %>
  </ul>
</div>
<div class="row">
  <div class="col-md-8">
    <h1><%= @wiki.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><em><%= @wiki.body %></em></h3>
  </div>
</div>
</br>
<div class="row">
  <%= render partial: 'sections/section', collection: @sections %>
</div>
